@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.scroll-to-top {
    position: fixed;
    z-index: 1;
    bottom: 20px; /* Расположение кнопки от нижнего края */
    right: 20px; /* Расположение кнопки от правого края */
    width: 50px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    border-radius: 50%; /* Круглая форма */
    background: linear-gradient(270deg, #00ff7f, #32cd32, #00ff7f); /* Градиент */
    background-size: 400% 400%; /* Размер градиента для анимации */
    color: white; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    animation: gradientAnimation 5s ease infinite; /* Анимация градиента */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.scroll-to-top:hover {
    opacity: 0.9; /* Немного уменьшаем непрозрачность при наведении */
}
